{% extends "base.html" %}
{% block title %}CMPT 165{% endblock %}
{% block h1 %}CMPT 165{% endblock %}

{% block content %}
<h2 id="contents">Table of Contents</h2>

{{ contents() }}

<p class="draft">This takes us to about the midterm?</p>

<p><a href="references.html">References</a></p>

<h2 id="links">Important Online Resources</h2>

<ul>
<li><a href="https://developer.mozilla.org/en/docs/Web/Guide/HTML/HTML5/HTML5_element_list">HTML5 Reference</a> from mozilla.org</li>
<li><a href="http://validator.w3.org/">HTML Validator</a></li>
</ul>

{% endblock %}
