{% extends "base.html" %}
{% block pageclass %}index{% endblock %}
{% block title %}CMPT 165 Study Guide{% endblock %}
{% block h1 %}CMPT 165 Study Guide{% endblock %}
{% block allcrumbs %}{% endblock %}
{% block content %}
<p>This Guide will be used for the Fall 2016 and later offerings of CMPT&nbsp;165. See also your <a href="https://courses.cs.sfu.ca/browse/pages/cmpt">course's home page</a> .</p>

<section id="toc">
<h2>Table of Contents</h2>

{{ contents() }}

</section>
<section id="links">
<h2>Important Online Resources</h2>

<ul>
<li><a href="{{ htmlref_url }}">HTML5 Element Reference</a> from mozilla.org</li>
<li><a href="http://validator.w3.org/">HTML Validator</a></li>
<li><a href="http://dev.w3.org/html5/html-author/charref">Character Entity Reference</a> and <a href="http://unicode-table.com/en/">Unicode Character Table</a></li>
<li><a href="{{ cssref_url }}">CSS Reference</a> from mozilla.org</li>
<li><a href="http://api.jquery.com/">jQuery Reference</a></li>
<li><a href="{{ raphref_url }}">{{raph}} Reference</a> and <a href="http://cancerbero.mbarreneche.com/raphaeltut/">{{raph}} Tutorial</a></li>
</ul>
</section>
{% endblock %}
