{% extends "base.html" %}
{% block pageclass %}index{% endblock %}
{% block title %}CMPT 165 Study Guide (Spring 2016 working draft){% endblock %}
{% block h1 %}CMPT 165 Study Guide (Spring 2016 working draft){% endblock %}
{% block allcrumbs %}{% endblock %}
{% block content %}
<p>This Guide will be used for the Spring 2016 on-campus offering of CMPT&nbsp;165. It is a significant revision from previous offerings, and will be updated (and completed) as the course progresses. See also the <a href="https://courses.cs.sfu.ca/2016sp-cmpt-165-d1/pages/">course home page</a>.</p>

<section id="toc">
<h2>Table of Contents</h2>

{{ contents() }}

<!--
<p><a href="{{rellink}}assign/">possible CODE assignments</a></p>
-->
</section>
<section id="links">
<h2>Important Online Resources</h2>

<ul>
<li><a href="https://developer.mozilla.org/en/docs/Web/Guide/HTML/HTML5/HTML5_element_list">HTML5 Element Reference</a> from mozilla.org</li>
<li><a href="http://validator.w3.org/">HTML Validator</a></li>
<li><a href="http://dev.w3.org/html5/html-author/charref">Character Entity Reference</a></li>
<li><a href="http://reference.sitepoint.com/css">CSS Reference</a> from sitepoint</li>
<li><a href="http://www.htmlhelp.com/reference/css/">CSS1 Reference</a> from HTMLhelp.com</li>
<li><a href="https://developer.mozilla.org/en-US/docs/Web/CSS/Reference">CSS Reference</a> from mozilla.org</li>
</ul>
</section>
{% endblock %}
