{% extends "appendixbase.html" %}
{% block title %}Lynda.com Help{% endblock %}
{% block h1 %}Lynda.com Help{% endblock %}

{% block content %}
<p>This Guide contains several links to relevant <a href="https://www.lynda.com/">Lynda.com</a> videos. These will provide a good alternate perspective on the material if you feel like you need one.</p>

<section id="sfu">
<h2>SFU Students: it's free</h2>
<p>SFU student can access all Lynda.com materials for free, if they do so through the <a href="http://cufts2.lib.sfu.ca/CRDB4/BVAS/resource/10456">SFU Library Lynda.com portal</a>.</p>

<p>You can choose the flavour of Lynda.com links you want to see in this Guide:</p>
<ul>
<li><button class="lynda" data-base="lynda">Use main Lynda.com links</button></li>
<li><button class="lynda" data-base="sfu">Use SFU Library Lynda links</button></li>
</ul>
</section>

<section id="account">
<h2>Account Setup</h2>
<p>If you're using the SFU Library links, you will need to first authenticate with your main SFU username and password.</p>
<p>You need a <strong>separate Lynda.com account</strong> which they use to keep track of the videos you have watched (etc?). You need to sign in with that account once you get to the Lynda pages.</p>
<p>My experience has been that once I created my Lynda account through the SFU Library portal, I could log in without going back through the portal the next time. It's not clear that this works consistently, though.</p>
</section>

{% endblock %}
