{% extends "base.html" %}
{% block title %}References and Sources{% endblock %}
{% block h1 %}References and Sources{% endblock %}

{% block content %}
<p>The <a href="figures/internet.svg"><code class="file">internet.svg</code></a> image contains modified versions of computer and networking icons from Wikimedia Commons:
    <a href="https://commons.wikimedia.org/wiki/File:Gnome-dev-wireless-router.svg">Gnome-dev-wireless-router.svg</a>,
    <a href="https://commons.wikimedia.org/wiki/File:Gnome-computer.svg">Gnome-computer.svg</a>,
    <a href="https://commons.wikimedia.org/wiki/File:Network-server.svg">Network-server.svg</a>,
    <a href="https://commons.wikimedia.org/wiki/File:Tablet-apple-ipad.svg">Tablet-apple-ipad.svg</a>,
    <a href="https://commons.wikimedia.org/wiki/File:Gnome-laptop.svg">Gnome-laptop.svg</a>,
    <a href="https://commons.wikimedia.org/wiki/File:Server-monitoring.svg">Server-monitoring.svg</a>,
    <a href="https://commons.wikimedia.org/wiki/File:Computer_n_screen.svg">Computer_n_screen.svg</a>,
    <a href="https://commons.wikimedia.org/wiki/File:Osa_hub.svg">Osa_hub.svg</a>,
    <a href="https://commons.wikimedia.org/wiki/File:Gnome-printer.svg">Gnome-printer.svg</a>,
    <a href="https://commons.wikimedia.org/wiki/File:Wireless-icon.svg">Wireless-icon.svg</a>.
</p>

<p>These images are used from the Wikimedia Commons:</p>
<ul>
<li><code class="file">ethernet.jpg</code> from <a href="https://en.wikipedia.org/wiki/File:Ethernet_Connection.jpg">Ethernet_Connection.jpg</a></li>
<li><code class="file">router.jpg</code> from <a href="https://commons.wikimedia.org/wiki/File:Router_1.jpg">Router_1.jpg</a></li>
</ul>

{% endblock %}
