{% extends "base.html" %}
{% block title %}References and Sources{% endblock %}
{% block h1 %}References and Sources{% endblock %}

{% block content %}
<p>The <a href="figures/internet.svg"><code class="file">internet.svg</code></a> image contains modified versions of computer and networking icons from Wikimedia Commons:
    <a href="https://commons.wikimedia.org/wiki/File:Gnome-dev-wireless-router.svg">Gnome-dev-wireless-router.svg</a>,
    <a href="https://commons.wikimedia.org/wiki/File:Gnome-computer.svg">Gnome-computer.svg</a>,
    <a href="https://commons.wikimedia.org/wiki/File:Network-server.svg">Network-server.svg</a>,
    <a href="https://commons.wikimedia.org/wiki/File:Tablet-apple-ipad.svg">Tablet-apple-ipad.svg</a>,
    <a href="https://commons.wikimedia.org/wiki/File:Gnome-laptop.svg">Gnome-laptop.svg</a>,
    <a href="https://commons.wikimedia.org/wiki/File:Server-monitoring.svg">Server-monitoring.svg</a>,
    <a href="https://commons.wikimedia.org/wiki/File:Computer_n_screen.svg">Computer_n_screen.svg</a>,
    <a href="https://commons.wikimedia.org/wiki/File:Osa_hub.svg">Osa_hub.svg</a>,
    <a href="https://commons.wikimedia.org/wiki/File:Gnome-printer.svg">Gnome-printer.svg</a>,
    <a href="https://commons.wikimedia.org/wiki/File:Wireless-icon.svg">Wireless-icon.svg</a>.
</p>

<p>The <a href="figures/directory-structure.svg"><code class="file">directory-structure.svg</code></a> image contains modified versions of file icons from Wikimedia Commons:
    <a href="https://commons.wikimedia.org/wiki/File:Gnome-folder.svg">Gnome-folder.svg</a>,
    <a href="https://commons.wikimedia.org/wiki/File:Gnome-text-x-generic.svg">Gnome-text-x-generic.svg</a>,
    <a href="https://commons.wikimedia.org/wiki/File:Gnome-image-x-generic.svg">Gnome-image-x-generic.svg</a>
</p>

<p>These images are used from the Wikimedia Commons:</p>
<ul>
<li><code class="file">ethernet.jpg</code> from <a href="https://en.wikipedia.org/wiki/File:Ethernet_Connection.jpg">Ethernet_Connection.jpg</a></li>
<li><code class="file">router.jpg</code> from <a href="https://commons.wikimedia.org/wiki/File:Router_1.jpg">Router_1.jpg</a></li>
<li><code class="file">optical-fibre.jpg</code> from <a href="https://en.wikipedia.org/wiki/File:Fibreoptic.jpg">Fibreoptic.jpg</a></li>
</ul>

<section id="bandwidth">
<h2>Bandwidth Calculations</h2>

<p>The download times in {{ xref('graphics-img', fragment='filesize') }} were arrived at by taking <a href="http://www.speedtest.net/isp-performance">download times from speedtest.net</a> (in early 2015), and finding mobile providers in the 10Mb/s (mega<strong>bits</strong> per second) range. Taking the example 10 mega<strong>byte</strong> page, we get 10MB &times; 8bits/byte &div; 10Mb/s = 8 seconds. Home Internet providers' speeds seem all over the place: I guessed 20&ndash;40 Mb/s just to have numbers to work with.</p>

<p>The 2MB per eight-megapixel image values based were on the pictures I happened to have on my phone.</p>
</section>

{% endblock %}
