$main-font: Helvetica, sans-serif;

@import url("assets/reset.css");

body {
  font-family: $main-font;
  line-height: 1.5em;
  padding: 1em 0.5em;
  max-width: 65em;
  margin-left: auto;
  margin-right: auto;
}
h1 {
  font-size: 200%;
  font-weight: bold;
  margin: 1em 0;
}
h2 {
  clear: both;
  font-size: 150%;
  font-weight: bold;
  margin: 1.5em 0 1em 0;
}
h3 {
  clear: both;
  font-size: 125%;
  font-style: italic;
  margin: 1.5em 0 1em 0;
}

ol, ul {
  margin: 1em 0 1em 3em;
}
ol {
  list-style-type: decimal;
}
ul {
  list-style-type: circle;
}
ol>li {
  padding-left: 0.25em;
}

p {
  margin: 1em 0;
}

em {
  font-style: italic;
}
dfn {
  font-style: italic;
  font-weight: bold;
}


figure {
  margin: 1em auto;
  text-align: center;
  max-width: 100%;
}
figcaption {
  font-size: smaller;
  font-weight: bold;
  line-height: 1.2em;
}
figure.floating, aside {
  float: right;
  clear: right;
  max-width: 10em;
  margin: 0.5em 0 ;
  padding: 0 0 0 1em;
}
figure.floating img {
  max-width: 100%;
}
aside {
  text-align: right;
  font-size: smaller;
  line-height: 1.2em;
  border: 1px solid #999;
  padding: 0.5em;
}

footer {
  margin-top: 2em;
  clear: both;
}

.draft {
  color: #0b0;
  font-style: italic;
}

ol#toc {
  font-weight: bold;
}
ol#toc ol {
  margin-top: 0.5em;
}
ol#toc ol, ol.chapter-toc {
  font-weight: normal;
  list-style-type: lower-roman;
}
