$main-font: Helvetica, sans-serif;

body {
  font-family: $main-font;
}
h2, h3 {
  clear: both;
}

figure {
  margin: 1em auto;
  text-align: center;
}
figcaption {
  font-size: smaller;
  font-weight: bold;
}
figure.floating {
  float: right;
  clear: right;
  max-width: 15%;
  margin: 0.5em 0 ;
  padding: 0 0 0 1em;
}
figure.floating img {
  max-width: 100%;
}


.draft {
  color: #0b0;
  font-style: italic;
}

ol#toc {
  font-weight: bold;
}
ol#toc ol, ol.chapter-toc {
  font-weight: normal;
  list-style-type: lower-roman;
}
