{% extends "appendixbase.html" %}

{% block content %}

<section id="html">
<h2>HTML Page Skeleton</h2>
<p>This code is a good place to start for a basic HTML5 page:</p>
{{ quoted_code('_sources/emptypage2.html') }}

<p>As we start working with JavaScript, we will reference external <code class="file">.js</code> files inside the <code class="html">&lt;head></code> with an element like this:</p>
{{ quoted_code('_sources/script-line.html') }}
</section>

<section id="css">
<h2>Basic CSS</h2>
<p>You may not want these styles, but it's at least a little bit of a start for a stylesheet.</p>
{{ quoted_code('_sources/css-template.css') }}
</section>

{% endblock %}
