{% extends "sectionbase.html" %}

{% block content %}

<p>There are many CSS properties that you can use: too many to introduce them all right away (or even to remember them all and how they work), but we should see a few more so we can actually <em>do</em> something useful with CSS.</p>

<section id="css-ref">
<h2>CSS Reference</h2>

<p>Like we did with HTML elements and the <a href="{{ htmlref_url }}">HTML Reference</a>, we will use a <a href="{{ cssref_url }}"><dfn id="cssref">CSS Reference</dfn></a> for all of the parts of CSS. You should keep the references in mind, but we can introduce a few key properties now.</p>

<p>We have seen <code class="css">text-align</code>: have a look at <a href="{{ css_prop_ref_url('text-align') }}" id="text-align-prop"><code class="css dfn">text-align</code> in the CSS reference</a>. Like the HTML reference, you will see a basic description of the property and the values it can be given.</p>

<p>You will also notice on the reference page for each CSS property a section on &ldquo;browser support&rdquo;. This wasn't much of an issue with plan HTML, but with CSS we have to be a little aware of what properties are supported by common web browsers. New features have been added with new CSS versions, and not all are prefectly supported by every browser.</p>

<p>In this course, we will discuss only ones that are well supported, but if you are scanning the reference for others, have a quick look at that the compatibility table to make sure it will work as adveritised.</p>

</section>

<section id="useful">
<h2>Useful CSS Properties</h2>

<p>Again, we certainly won't be covering every interesting CSS property here, but can introduce a few (with links to the CSS reference for each).</p>

<dl>
{{ css_dt('text-align') }}
<dd>As we can seen, <code class="css">text-align</code> can be used to change the text justification. Possible values are <code class="css">left</code>, <code class="css">right</code>, <code class="css">center</code>, and <code class="css">justify</code> (for full justification with to ragged left or right margin).</dd>
{{ css_dt('font-style') }}
<dd>Used to control italic text: possible values include <code class="css">italic</code> and <code class="css">normal</code> (for non-italics).</dd>
{{ css_dt('font-weight') }}
<dd>Used to control bold text: possible values include <code class="css">bold</code> and <code class="css">normal</code> (for non-bold).</dd>
{{ css_dt('color') }}
<dd>Used to set the colour (usually of the text) for the element. For example, &ldquo;<code class="css">color: green;</code>&rdquo;. We will discuss colour values more in {{ xref('css-colour') }}.</dd>
{{ css_dt('background-color') }}
<dd>Used to set the background colour (behind the text) for the element. For example, &ldquo;<code class="css">background-color: black;</code>&rdquo;.</dd>
{{ css_dt('border-width') }}
{{ css_dt('border-style') }}
{{ css_dt('border-color') }}
<dd>These are used to control the border around an element (width of the line, type of line, and colour of line, respectively). You can either use these properties separately or use a <dfn>shorthand property</dfn> <code class="css dfn">border</code> to combine these into one line (giving the three values in any order). These two things are equivalent:
{{ quoted_code('_sources/border.css') }}
</dd>
{{ css_dt('line-height') }}
<dd>Controls the amount of vertical space each line of text takes up (which you might know as &ldquo;<a href="http://en.wikipedia.org/wiki/Leading">leading</a>&rdquo;). For example, &ldquo;<code class="css">line-height: 1.5em;</code>&rdquo;.</dd>
{{ css_dt('font-family') }}
<dd>Sets the font for the text. You should give a list of fonts that are tried in-order until the browser finds one available on the user's system. There are five generic font families and your list <strong>must</strong> end with one of them since it's guaranteed to work. For example, &ldquo;<code class="css">font-family: "Garamond", "Times", serif;</code>&rdquo;.</dd>
</dl>


</section>


<section id="boxmodel">
<h2>CSS Box Model</h2>

<p id="box">There are several properties in CSS that are often grouped together as <dfn>box properties</dfn> which control the way browsers lay out the page using the CSS <dfn>box model</dfn>.</p>

<p>These properties might not be immediately intuitive, but aren't too difficult. Suppose we have an element on the page (like a <code class="html">&lt;h2&gt;Element Contents&lt;/h2&gt;</code>). Here are the parts of its &ldquo;box&rdquo; when drawn:</p>

{{ figure('boxmodel', 'CSS box model illustration', extension='svg', referenced=False) }}

<p>So, this CSS code:</p>

{{ quoted_code('_sources/box1.css') }}

<p id="padding">&hellip; will make the <code class="html">&lt;h2&gt;</code> have a grey background, with <code class="css">1em</code> of space between the text and the border. The space inside the border (even if it's invidible because you don't have one) is covered with the background colour and is controlled by the <code class="css dfn">padding</code> properties.</p>

<!--
<aside id="outline">In addition to borders, elements can also have an <dfn>outline</dfn> which is the same, but takes up no space on the page: they can overlap other elements.</aside>
-->

<p id="margin">If we want more space separating this element (and its border) from the stuff around it, we would have to increase the <code class="css dfn">margin</code> values.</p>

<p>It's easy to mistake margin and padding, especially when there is no border or background colour. If you are trying to change the space around an element (especially when the browser's default CSS has some space there), try setting <em>both</em> margin and padding to zero and work from there.</p>

{{ quoted_code('_sources/box2.css') }}

</section>

<section id="units">
<h2>CSS Units</h2>

<p>You probably noticed the measurement <code class="css">1em</code> above. The <code class="css">em</code> is a unit of (length) measurement in CSS. Here are some common units that need a little explanation:</p>

<dl>
<dt id="em"><code class="css dfn">em</code></dt>
<dd>The current font size: if the current text is 12&nbsp;point then this will be 12 points. Another unit, an <code class="css dfn">ex</code> is half the text size.</dd>
<dt id="px"><code class="css dfn">px</code></dt>
<dd>One screen pixel (dot) on the display. (Note: for some very high resolution devices, real &ldquo;pixels&rdquo; are very small, so this length is adjusted to be close to the size of a pixel on a traditional display.)</dd>
<dt id="mm"><code class="css dfn">mm</code></dt>
<dd>A millimetre. There are also units for centimetre, inch, etc. (Note: this is the browsers best guess, but might be innacurate depending on the scaling of the display/projector/phone/etc. For example if you display your screen on a projector, the &ldquo;millimetre&rdquo; suddenly becomes much larger.)</dd>
</dl>

<p>As much as possible, I suggest you specify measurements using <code class="css">em</code>s and <code class="css">ex</code>s. These are the only units that don't require some kind of note describing when they are a lie. If you think in <code class="css">em</code>s, you will be thinking properly about the way a page might scale depending on the current screen/font/whatever size.</p>

<p>The one exception is when dealing with bitmapped images: they are inherently sized in pixels, so that probably makes the most sense.</p>

{{ quoted_code('_sources/units.css') }}


</section>


<section id="example">
<h2>Example</h2>

<p>Here is an example page that we can style with some of the properties above:</p>

{{ quoted_code('files/css-prop-page.html') }}

<p>&hellip; and a CSS to go with it:</p>

{{ quoted_code('files/css-prop.css') }}


<p>You can look at <a href="{{rellink}}files/css-prop-page.html">that page with the stylesheet</a> yourself, or in my browser it looks like this:</p>

{{ figure('css-prop-result', 'Screenshot of the example page', referenced=False) }}

<p>When creating a stylesheet for a page, remember that you're always adding to the browser's default style. In this example, setting <code class="css">font-weight: bold;</code> for the <code class="html">&lt;h1&gt;</code> probably doesn't have any effect since the default is bold, but it doesn't hurt either. In this example, we removed the bold font from the <code class="html">&lt;h2&gt;</code>.</p>

<aside>There are various <a href="https://www.google.ca/search?q=reset+css"><dfn id="reset">reset stylesheets</dfn></a> that will remove browser defaults and give you a very boring (but predictable) starting point for your page.</aside>

<p>The width of the border was specified as <code class="css">medium</code> but could also have been a length like <code class="css">0.1em</code>.</p>

<p>Try experimenting with CSS on this page (or one you have created). There is no substitute for trying out some stuff and seeing how it affects the page.</p>
</section>




{% endblock %}
