{% extends "sectionbase.html" %}

{% block content %}

{{ lynda_course(path='/CSS-tutorials/CSS-Selectors/192036-2.html', title='CSS: Selectors', description='This course covers much more than you need to know for this course (and more than most CSS authors use regularly) but the first few videos address the relevant CSS selectors.') }}

<p>So far, we have only been able to select every instance of a particular tag in our stylesheets. This is often very useful, but limiting. There are many more ways to select content for modification in CSS, and we should explore some.</p>

<section id="class">
<h2>Classes</h2>

<p>There are often cases where we use one element for different purposes on a page. We have already seen the <code class="html">class</code> attribute used to distinguish different uses.</p>

<p>For example, suppose we are creating a web page for a recipe. We might come up with markup that uses several different lists, but with different roles.</p>

{{ quoted_code('_sources/recipe2.html') }}

<p>Here we have two <code class="html">&lt;ul&gt;</code> elements. Order of the items doesn't matter in either case, so <code class="html">&lt;ul&gt;</code> is the right tag to use, but it would be totally reasonable to want these to look different on the page. We thus used <code class="html">class</code> to indicate their specific role.</p>

<p>The <code class="html">class</code> property won't change the page in any way by itself, but we can now uses these classes to grab particular elements in CSS:</p>

{{ quoted_code('_sources/classes1.css') }}

<p id="class-sel">The second selector here (&ldquo;<code class="css">ul.problems</code>&rdquo;) is a <dfn>class selector</dfn>. It selects all <code class="html">&lt;ul&gt;</code> elements that have <code class="html">class="problems"</code> but does not change other unordered lists. The first selector (&ldquo;<code class="css">ul</code>&rdquo;) still selects <em>all</em> <code class="html">&lt;ul&gt;</code> elements, whether they have a class or not.</p>

<p>Classes can be added as you find you need them to make the appearance of the page match your intent. For example, while creating a recipe page as above, you might find that you have some ingredients that are optional (e.g. you can add hot sauce if you like it).</p>

<p>In a case like that, you can go back and add <code class="html">class="optional"</code> to elements where it's relevant:</p>
{{ quoted_code('_sources/recipe3.html') }}

<p>Then you can return to your stylesheet and change the appearance of just those elements:</p>

{{ quoted_code('_sources/classes2.css') }}

<p>The selector <code class="css">.optional</code> selects <em>any</em> elements with <code class="html">class="optional"</code>, not just <code class="html">&lt;li class="optional"&gt;</code>. In our example, it would do the same thing as <code class="css">li.optional</code> since we only have <code class="html">&lt;li&gt;</code> elements with that class, but this way we could add other &ldquo;optional&rdquo; content ( like <code class="html">&lt;p class="optional"&gt;</code>) and have it styled the same way.</p>

</section>

<section id="identifiers">
<h2>IDs</h2>

<p>We have also seen the <code class="html">id</code> property: an <code class="html">id</code> value can occur <strong>only once on a page</strong>. So, we use <code class="html">id</code> to uniquely identify things.</p>

<p>For example, we know we will only have one page footer (information at the bottom of the page about the site, etc.). There is a tag <code class="html">&lt;footer&gt;</code>, but we might have something like copyright information inside it that we want to style separately: we know there will only be one copyright statement on a particular page, so we use <code class="html">id</code>:</p>

{{ quoted_code('_sources/copyright.html') }}

<p>Then we can select just the paragraph with that identifier like this:</p>

{{ quoted_code('_sources/ids.css') }}

<p>Above, we used <code class="html">class="ingredients"</code> instead of <code class="html">id="ingredients"</code> because we could create a page with multiple recipes, so multiple lists of ingredients. Here we know the copyright info will occur only once so we can use <code class="html">id="copyright"</code>.</p>

<p>Since <code class="html">id</code> values are unique, they can also be used to identify a part of the page (thus the name). We will use this in the unit on JavaScript and beyond, but for now, it can be used to link to a particular <em>position</em> on a page. For example, this topic starts with an element that has an <code class="html">id</code> specified. We can link to that part (<code class="html">id="identifiers"</code>) of the page (<code class="file">css-selectors.html</code>) in HTML like this:</p>

{{ quoted_code('_sources/id-link.html') }}

<p>That will create a link to the start of the section {% include '_sources/id-link.html' %} (like that).</p>

</section>


<section id="contextual">
<h2>Contextual Selectors</h2>

<p>It is often useful to select elements based on where they are on the page. For example, you might want to modify emphasized text that is in headings (but not elsewhere), or only list items in ordered lists (but not unordered).</p>

<p>For example, suppose we want to space out the elements of lists, inserting whitespace between each item. If we want to modify all <code class="html">&lt;li&gt;</code>s (inside both <code class="html">&lt;ol&gt;</code> and <code class="html">&lt;ul&gt;</code> elements), we can do it like this:</p>

{{ quoted_code('_sources/contextual1.css') }}

<p id="context-sel">But if we only want to modify <code class="html">&lt;ol&gt;</code> lists (leaving <code class="html">&lt;ul&gt;</code> alone), we need to select only the list items inside ordered lists. To do this, we can use <dfn>contextual selectors</dfn> that find one element inside another.</p>

{{ quoted_code('_sources/contextual2.css') }}

<p>The selector &ldquo;<code class="css">ol li</code>&rdquo; will select any <code class="html">&lt;li&gt;</code> that is <em>inside</em> an <code class="html">&lt;ol&gt;</code> element but not other list items.</p>

<p>For another use of contextual selectors, you might find that you don't like the default appearance of links within headings: the blue colour is distyracting and you want the links to only be underlined.</p>

{{ figure('headinglink1', 'Page with a link in a heading', referenced=False) }}

<p>This CSS with a contextual selector can be used to modify only the links in level-2 headings:</p>
{{ quoted_code('_sources/contextual3.css') }}

<p>The page will then look like this. (The link in the heading has turned black, in case you can't see it because of the device you're viewing this on.)</p>
{{ figure('headinglink2', 'Restyled link in a heading', referenced=False) }}

</section>

<section id="others">
<h2>Other Selectors</h2>

<p>There are other selectors that can be used in CSS that we won't cover in detail here, but here is a quick indication of some of the things you can select if you need to:</p>

<dl>
<dt>Pseudo-class selectors</dt>
<dd>There are some special properties of elements that the browser can automatically detect and apply styles. Probably the most useful are the link pseudo-classes: links that have not been visited (usually blue), visited (usually purple), and currently-being-clicked (usually red). Here is CSS to set colours similar to the defaults:
{{ quoted_code('_sources/pseudoclass.css') }}
</dd>

<dt>Child selectors</dt>
<dd>The contextual selector (space) will select an element that's <em>anywhere</em> inside the element. For example, if you have a <code class="html">&lt;ol&gt;</code> with a <code class="html">&lt;ul&gt;</code> inside it, selecting with <code class="css">ol li</code> will select the items of the <code class="html">&lt;ol&gt;</code> as well, since they are <em>somewhere</em> inside the <code class="html">&lt;ol&gt;</code>. That might not be what you intend.
<p>This CSS will separately change the appearance of list items that are <em>immediately</em> within <code class="html">&lt;ol&gt;</code>s and <code class="html">&lt;ul&gt;</code>s:</p>
{{ quoted_code('_sources/child.css') }}
</dd>
</dl>
</section>


<section id="combine">
<h2>Combining Selectors</h2>

<p>These selectors can be combined in any way you like. For example, here are selectors that would affect the appearance of (1) list items in the <code class="html">&lt;ul class="ingredients"&gt;</code>; (2) optional items in the ingredients list; (3) unvisited links with <code class="html">class="external"</code>:</p>

{{ quoted_code('_sources/combine.css') }}

</section>



{% endblock %}
