{% extends "base.html" %}

{% block content %}

<p class="draft">Keeping content and appearance separate: tips and examples</p>

<p>We have two different technologies for content and the way it looks: HTML and CSS. The idea behind these is that the two different roles are kept separate using the two languages.</p>

<p>If you have been following the advice in {{xref("html-semantic")}}, then this shouldn't be too hard. The way you write your HTML should still be about content: choose markup based on what the pieces mean and what are they for.</p>


<section id="class-id-values">
<h2>Class and ID Values</h2>

<p class="draft">semantic values, please</p>

</section>

<section id="benefits">
<h2>Benefits</h2>

<p class="draft">What this gets us: can re-use content in different contexts: different CSS for mobile, or an ebook, or .... Separate author/designer roles. Re-skin a whoe site with one CSS change</p>

<!--
http://pongos.com/2013/08/separating-content-from-appearance-semantic-markup/#sthash.LBaQcUbh.dpbs
http://versie1.webrichtlijnen.nl/english/manual/development/production/philosophy/separating-content-and-design/advantages/
-->

</section>


{% endblock %}
