{% extends "sectionbase.html" %}

{% block content %}

<p class="draft">Devices have different sized screens. Browser windows get resized. What do we do about that?</p>

<section id="sizes">
<h2>Device Sizes</h2>

<p class="draft">example of a page (from an earlier section?) screenshot in different browsers with very different display. What we can do about that.</p>


</section>


<section id="media">
<h2>Media Selectors</h2>
</section>
<section id="example">
<h2>Example</h2>
</section>


{% endblock %}
