{% extends "sectionbase.html" %}

{% block content %}

<p class="draft">Using CSS to move things around the page: float, clear, position.</p>

<p>Most of the work we have done with CSS is fairly simple: changing fonts, colours, spacing, and borders. All of those changes are useful and necessary, but not the <em>hard</em> part of CSS.</p>

<p>Things become more interesting when you start moving stuff around the page.</p>

<p class="draft">The <a href="{{rellink}}files/position.html">example</a> being used</p>

<section id="float">
<h2>The <code class="css">float</code> Property</h2>

</section>

<section id="clear">
<h2>The <code class="css">clear</code> Property</h2>

</section>

<section id="position">
<h2>The <code class="css">position</code> Property</h2>

</section>

{% endblock %}
