{% extends "base.html" %}
{% block pageclass %}chapter{% endblock %}

{% block content %}
<p>This will end the core material of the course: we have learned how to construct web pages, make them look the way we want, and give them behaviour. There are hundreds of more concepts in web development that we could cover here, but there isn't time.</p>

<p>This chapter will introduce a few more things that we can't cover in detail, but we think it would be useful to know the basic ideas.</p>

<h2 id="outcomes">Learning Outcomes</h2>
<ul class="outcomes">
<li></li>
</ul>

{{ subcontents() }}

{% endblock %}
