{% extends "sectionbase.html" %}

{% block content %}

<p class="draft">What was this course actually for?</p>

<p>If you were asked what this course was about and answered &ldquo;web pages&rdquo;, that wouldn't be a bad answer. Part marks for that.</p>

<p id="frontend">The goal of the course has been to introduce you to <a href="https://en.wikipedia.org/wiki/Front_end_development"><dfn>front-end development</dfn></a> (or <dfn>front-end web development</dfn> or <dfn>client-side development</dfn>), and to introduce some basic ideas from computer science along the way.</p>

<p>Front-end development is about creating web pages and interacting with the user (and their web browser). The <a href="https://www.w3.org/wiki/The_web_standards_model_-_HTML_CSS_and_JavaScript">web standards model</a> gives us the three technologies that make up the front-end of the web: HTML, CSS, and JavaScript.</p>

<section id="main">
<h2>Main Topics</h2>

<p>The three major topics of the course mirrored the web standards model.</p>

<section id="html">
<h3>HTML</h3>

<p>By now, you should be well-acquainted with HTML. It's the language that we have used to describe our content, giving as much some meaning. It can then and can be interpreted by the browser (or by Google, or some other tool). Once we have our content, we can change its appearance with CSS or behaviour with JavaScript.</p>

</section>

<section id="css">
<h3>CSS</h3>

<p></p>

</section>

<section id="js">
<h3>JavaScript</h3>
</section>

</section>


<section id="other">
<h2>Other Topics</h2>

<section id="graphics">
<h3>Graphics</h3>

<p>When creating web pages,</p>

</section>

<section id="jquery-raph">
<h3>jQuery and {{raph}}</h3>

<p>These two JavaScript libraries were integrated into the JavaScript introduction. They shouldn't be considered the main focus though: they were ways to use JavaScript in interesting ways, and gave us fun things to do when learning the programming details.</p>

<p>The primary goal with JavaScript was learning programming concepts: how to create functions, write loops and conditionals, and how to control the flow of our programs. The jQuery and {{raph}}libraries motivated this.</p>

</section>


</section>

{% endblock %}
