{% extends "sectionbase.html" %}

{% block content %}

<p>In the example <a href="html-markup.html#code-firstsample">fragment of an HTML file</a> in the last topic, we saw our first piece of HTML markup. This is part of what goes in an HTML file, but there needs to be more to make a complete page.</p>

<p>HTML files are edited with a text editor: just make sure you save the file with the extension <code class="file">.html</code> (i.e. name it something like <code class="file">mypage.html</code>).</p>

<p>There are a few basic pieces that need to go in an HTML file to get us started. Here's an empty HTML page: this is code you can type into a text editor and save as <code class="file">something.html</code>.</p>

{{ quoted_code('_sources/emptypage.html') }}

<p>That certainly deserves some explanation, but you can copy-and-paste it into a text editor now if you'd like to experiment. That is a perfectly complete (but empty) HTML page.</p>

<section id="tags">
<h2>HTML Tags</h2>

<p id="tag">The things wrapped in triangular braces (the <code class="html">&lt;&thinsp;&hellip;&thinsp;&gt;</code> characters) are called <dfn>tags</dfn>. These are the most important part of HTML markup that is used to describe the structure of content. There are both <dfn>opening tags</dfn> and <dfn>closing tags</dfn> (or <dfn>starting tags</dfn> and <dfn>ending tags</dfn>) which come in pairs to enclose pieces of content.</p>

<p id="title">For example, in the above example, <code class="html">&lt;title&gt;</code> is an opening tag, and <code class="html">&lt;/title&gt;</code> is the corresponding closing tag. The <code class="html dfn">&lt;title&gt;</code> tag is used to enclose the main title for the document: the one that is displayed in the title bar of the browser (and used as the label if you bookmark the page, and displayed in search engine results for the page).</p>

<p>One other tag we should look at right away: the <code class="html">&lt;body&gt;&hellip;&#8203;&lt;/body&gt;</code> tag is used to encose the main part of the page: the actual content that you read in the browser's main window.</p>

<p>Let's add a little to our page so there's actually something to see when we load it:</p>

{{ quoted_code('files/firstpage.html') }}

<p id="p">The <code class="html dfn">&lt;p&gt;&hellip;&#8203;&lt;/p&gt;</code> tag is used to enclose a paragraph on the page. The sentence &ldquo;This is a paragraph on my page.&rdquo; will appear formatted as a paragraph when we view the page in a web browser. You can view <a href="{{ rellink }}files/firstpage.html">this HTML file</a> here.</p>

<p>You might notice on that page that the line break in the code above doesn't match the way the paragraph is formatted when you view the page (unless you happen to have the exact right size browser window to display the same way). In HTML, all of the formatting must be specified with tags (and CSS as we'll see later). The <code class="html">&lt;p&gt;</code> tag indicated that we wanted the content formatted like a paragraph: the browser did that and chose the places to break the lines (among other things) for your browser.</p>

<p>Also try working with this HTML: copy-and-paste the HTML code into your text editor, save it as a <code class="file">.html</code> file, and open that file in your web browser. It should look the same as when you clicked the link in the last paragraph. Try adding a second paragraph after the one in the example; reload the page in the browser to see what it looks like.</p>

<p id="element">The term <dfn>element</dfn> is used to refer to one instance of a tag and its contents. For example in the above, there is one title element, <code class="html">&lt;title&gt;My First Page&lt;/title&gt;</code> which has an opening tag (<code class="html">&lt;title&gt;</code>), a closing tag (<code class="html">&lt;/title&gt;</code>), and contents (<code class="html">My First Page</code>),</p>
</section>

<section id="basic-tags">
<h2>Basic Tags</h2>

<p>There are several tags in the example above that haven't been explained yet. These need to be in every HTML page.</p>

<dl>
<dt><code class="html">&lt;!DOCTYPE html&gt;</code></dt><dd id="doctype">This isn't really a tag or an element, it is the <dfn>document type declaration</dfn> (or <dfn>doctype</dfn>) for the page. This doctype indicates that the page is HTML5. The doctype doesn't have a closing version: it's the first thing in an <code class="file">.html</code> file and stands alone.</dd>
<dt id="htmltag"><code class="html dfn">&lt;html&gt;&hellip;&lt;/html&gt;</code></dt><dd>This element contains entire HTML page. It should be the first tag to start (after the doctype) and last to close.</dd>
<dt id="headtag"><code class="html dfn">&lt;head&gt;&hellip;&lt;/head&gt;</code></dt><dd>This element contains information <em>about</em> the page (as opposed to content of the page). For now, it will hold only the <code class="html">&lt;title&gt;</code> and <code class="html">&lt;meta&gt;</code> tags.</dd>
<dt id="titletag"><code class="html dfn">&lt;title&gt;&hellip;&lt;/title&gt;</code></dt><dd>This element gives the main title for the page. It gives the main title for the document, which is used in the title bar and for bookmarks to the page.</dd>
<dt id="metatag"><code class="html dfn" data-term="&lt;meta /&gt;">&lt;meta charset="UTF-8" /&gt;</code></dt><dd>This tag tells the browser about the &ldquo;character encoding&rdquo; for this document. The details aren't important now, but it's a property of how the text file is encoded when it is saved. This <code class="html">&lt;meta&gt;</code> tag should be in every HTML file like this.
<p>You may have also noticed that it has no closing tag, and that there's some extra stuff in the tag. We will get to that very soon&hellip;</p></dd>
<dt id="bodytag"><code class="html dfn">&lt;body&gt;&hellip;&lt;/body&gt;</code></dt><dd>Finally, this element contains the actual content of the page: the part that is displayed in the main browser window. Most of the new tags we learn will go somewhere in the <code class="html">&lt;body&gt;</code>.</dd>
</dl>
<p>These tags are always arranged this way in every HTML page. In our example, we have a simple <code class="html">&lt;p&gt;</code> element in the body: that is where we will need to expand the number of tags we know first.</p>
</section>

<section id="more-tags">
<h2>More Tags</h2>

<p>Let's introduce a few more tags in another example:</p>
{{ quoted_code('files/more-tags.html') }}

<p>The elements here are generally like the ones we have seen before: and opening tag, some content, and a closing tag. The differences are in what they mean and how they are put together to describe content.</p>

<dl>
<dt><code class="html dfn" id="h1tag">&lt;h1&gt;</code></dt><dd>This tag is used for a &ldquo;level 1&rdquo; heading. That is, it's the most important heading on the page. Typically, every page should start with an <code class="html">&lt;h1&gt;</code> that has the same contents as the <code class="html">&lt;title&gt;</code>: the main title for the page.</dd>
<dt id="emtag"><code class="html dfn">&lt;em&gt;</code></dt><dd>This tag indicates <dfn>emphasized text</dfn>: some important word or phrase in the sentence. An <code class="html">&lt;em&gt;</code> must go inside a paragraph (or heading, or other &ldquo;block-level&rdquo; element as we'll see later).</dd>
<dt id="ultag"><code class="html dfn">&lt;ul&gt;</code></dt><dd>This tag describes an <dfn>unordered list</dfn>. That is, it contains a list of things where the order isn't important. The <code class="html">&lt;ul&gt;</code> element (and the ordered list version <code class="html dfn">&lt;ol&gt;</code>, or menu list <code class="html dfn">&lt;menu&gt;</code>) can't contain text the way a <code class="html">&lt;p&gt;</code> can: it can only contain <code class="html">&lt;li&gt;</code> elements.</dd>
<dt id="litag"><code class="html dfn">&lt;li&gt;</code></dt><dd id="li">These are the only thing that can go in a <code class="html">&lt;ul&gt;</code> or <code class="html">&lt;ol&gt;</code> element (and can <strong>only</strong> be inside one of those elements). They denote <dfn>list items</dfn>.</dd>
</dl>

<p>As you can see from these, each tag has some rules about where it can be place or what can be placed in it: <code class="html">&lt;em&gt;</code> must go in a <code class="html">&lt;p&gt;</code> or similar; <code class="html">&lt;ul&gt;</code> must contain only <code class="html">&lt;li&gt;</code>s.</p>

<p>Notice that the line breaks, spaces, and other formatting in the HTML code have no effect of the display in the browser. If you press <kbd>enter</kbd> a few times to insert a blank link in the HTML, it will not change the appearance in the browser. You must use tags (and later we'll see CSS styles) to change the way things look.</p>

<p>In other words, these three <code class="html">&lt;p&gt;</code> elements are exactly the same af far as the web browser is concerned:</p>
{{ quoted_code('_sources/whitespace1.html') }}
{{ quoted_code('_sources/whitespace2.html') }}
{{ quoted_code('_sources/whitespace3.html') }}

</section>



{% endblock %}
