{% extends "base.html" %}

{% block content %}

<p class="draft">HTML is semantic markup: what is that? Why is it important? How do we do it?</p>

<p>Whenever HTML tags have been described here, the focus has been on what they <strong>mean</strong> or their <strong>purpose</strong> on the page, not on how they look:</p>
<blockquote>The <code class="html">&lt;p&gt;&hellip;&#8203;&lt;/p&gt;</code> tag is used to enclose a paragraph on the page&hellip; The <code class="html">&lt;a&gt;</code> tag is used to create links&hellip; The horizontal rule element is used to indicate a break in the content.</blockquote>

<p id="semantic">None of these descriptions have been about what these elements look like in a web browser, because that's not what HTML describes. HTML is a <dfn>semantic markup language</dfn>. That is, its job is to describe the semantics of content: what that content means, what kind of content is is, or what its purpose or role is on the page.</p>

<p>When creating HTML pages, our goal should be to describe the content as accurately as possible with the tags we have.</p>

<p id="visual">The alternative is <dfn>visual markup</dfn> or <dfn>presentational markup</dfn> where the author specifies the appearance of content directly.</p>

<p>You may be familiar with visual and semantic formatting in word processors like Microsoft Word, or Google Docs word processing documents, which allow both. Note that Word and Docs are not <em>markup languages</em> (since there is no markup to write), but their formatting style can still be described as visual or semantic.</p>

{{ figure('word-formatting', 'MS Word tools for visual formatting (left) and semantic formatting (right)', extension='png', referenced=False) }}

{{ figure('google-docs-formatting', 'Google Docs tools for semantic formatting (left, under &ldquo;Normal text&rdquo;) and visual formatting (right, on the toolbar)', extension='png', referenced=False) }}

<p>In those screenshots, you can see visual formatting tools where you directly choose the font, style, colour, and so on. Both tools also have &ldquo;style&rdquo; tools where you can specify the type of content in a semantic way.</p>

<section>
<h2 id="why">Why Use Semantic Markup?</h2>

<p>The best reason for doing semantic markup is probably that it will let us use CSS effectively, as we will see in the unit on {{ xref('css') }}. CSS will let us make changes to the page like &ldquo;all paragraphs should look like &hellip;&rdquo;. If we used visual markup (to express something like &ldquo;this text is on a new line, left justified, in a 12pt font&rdquo; on each paragraph in our page) then we wouldn't be able to easily re-style everything: we would have to change each &ldquo;paragraph&rdquo; separately.</p>

<p>You may have had an experience like this using the tools described above for essays or other documents. If you format every section heading by selecting a font, then a size, then bold, they might all look fine. But if you then decide to change the style of your document, you have to change each one manually. This can be very time-consuming for a long document.</p>

<p>The word processor style tools let you change the way every &ldquo;Heading&nbsp;1&rdquo; or &ldquo;Subtitle&rdquo; looks at one time by changing the defaults for that type of content. This takes the same amount of time for one or a thousand pages.</p>

<p>Using semantic markup in HTML also helps your page be used in situations you might not have expected. For example, search engines (Google, DuckDuckGo, Bing, etc.) must read pages on the Web to figure out what they are about (to decide what search terms they should be returned for). These are entirely automated tools that must process pages algorithmically.</p>

<p>If we have done a good job with our markup, the search engines can extract lots of meaning (semantics) just from our markup. For example, just from examining the headings in the &ldquo;<a href="html-tags.html#code-complete-page">complete page</a>&rdquo; example from the last topic, we get this outline for the document:</p>
<ol class="outline">
<li>HTML Basics
  <ol>
  <li>More to Learn</li>
  <li>Not In This Course</li>
  </ol>
</li>
</ol>

<p>That is a decent summary of the document, and it can be easily discovered automatically from the markup. More can be discovered by examining the other tags, if they have been used correctly, in ways that match their meaning.</p>

</section>

<section id="choose">
<h2>How to Choose Tags</h2>
<p>We will see in the unit on CSS ways to control the appearance of pages. We will be able to use CSS to give appearances to each type of content. For now, we will have to accept the browsers' default styles for each element.</p>

<p>Since HTML is a <em>semantic</em> markup language, we should be keeping the meaning of our content in mind as we're creating the pages. When marking up new types of content, have a look at the <a href="{{htmlref_url}}">HTML reference</a> to see if there is a tag that makes sense for that content.</p>
</section>

<section id="examples">
<h2>Examples</h2>

em vs strong

dl

cite or dfn?

tease to span.otherlang?

</section>

<section id="generic">
<h2>Generic Tags</h2>

</section>



{% endblock %}
