{% extends "appendixbase.html" %}

{% block content %}

<p>On-campus offerings will vary somewhat in their marking scheme and administrative details. See the course's web site and/or the first lecture for more information. You may find your course home page from the list of <a href="https://courses.cs.sfu.ca/browse/pages/cmpt">CMPT course web sites</a>.</p>

<p>Also see the course web site for assignments and their due dates.</p>

<p>If your instructor is pointing you to this Guide, then the major topics of the course will be:</p>
<ul>
<li>Markup and HTML</li>
<li>CSS Stylesheets</li>
<li>JavaScript Programming</li>
<li>Web Graphics </li>
</ul>

<section id="honesty">
<h2>Academic Honesty</h2>

<p>Again, your instructor may clarify his/her expectation around academic honesty. In general, your work in this course should meet <a href="http://www.sfu.ca/policies/gazette/student/s10-01.html">SFU's Code of Academic Integrity and Good Conduct</a>.</p>

<p>In short: work should be completed by the person who submits it. Any work that is independent work of the submitter should be clearly cited to make its source clear.</p>

<p>The instructor may use, or require students to submit assignments to, an automated service that will check for plagiarism.</p>

<p>Some examples of unacceptable behaviour:</p>

<ul>
<li>Handing in assignments/exercises that are not 100% your own work (in design, implementation, wording, etc.), without proper citation.</li>
<li>Using another student's work as a template or reference for completing your own work.</li>
<li>Using any unpermitted resources during an exam.</li>
<li>Looking at, or attempting to look at, another student's paper during an exam.</li>
<li>Submitting work that has been submitted before, for any course at any institution.</li>
</ul>

</section>
{% endblock %}
