{% extends "sectionbase.html" %}

{% block content %}

<p id="js">We will be starting to work with <dfn>JavaScript</dfn>, which is a programming language that is incorporated into web browsers and can be used on web pages.</p>

<p>That sentence had a lot in it, and deserves some more explanation&hellip;</p>

<section id="programming">
<h2>Programming Languages</h2>

<p id="proglang">JavaScript is a programming language. Some others you might have heard of are C, Python, Java, and C#. In general, a <dfn>programming language</dfn> is a way to describe to a computer some behaviour: some calculation or other action that you want to computer to do for you. That is, a programming language describes a program.</p>

<p>There are many different programming languages, all with their own strengths and weaknesses, but they fundamentally all do the same job of letting the programmer express instructions for some behaviour. They have to do this in a precise-enough way that the computer can actually follow them.</p>

<p>Compare this to some other languages we have seen for computers: HTML and CSS. Both of those are computer &ldquo;languages&rdquo; but they are not programming languages since they aren't used to create programs. (They are a document markup language and a visual style language, respectively.)</p>
</section>

<section id="behaviour">
<h2>Behaviour on Web Pages</h2>

<p>JavaScript is a programming language that is implemented in modern web browsers. That is, you can include JavaScript code as part of a web page or site and the web browser used to display the page will run the code.</p>

<p>The kind of &ldquo;behaviour&rdquo; we want in web pages can vary quite a lot. JavaScript code can modify the current HTML page (adding, removing, or changing content), respond to user events (like entering some text, or clicking somewhere), and can put those things together with logic expressed in programs.</p>

<p>In this course, we will explore a few things that can be done with JavaScript. There is certainly much more than can be covered in one course, but hopefully you will at least get a sense for what can be done, as well as the basics of how to do it.</p>

<p>With the ability to introduce logic and behaviour into web pages comes the possibility of making pages that do very ugly and counter-intuitive things. That means that you can make very bad web pages with JavaScript, but with some good design you can make very flexible web pages too.</p>

<p>JavaScript can be used more generally as a programming language outside of web pages. We won't be discussing these applications in this course.</p>

</section>



{% endblock %}
