{% extends "base.html" %}

{% block content %}

<p class="draft">The script tag and basic ideas of JS (hooking a function up to an onclick event)</p>

<p>The <code class="html">&lt;script&gt;</code> element is used to connect JavaScript to HTML pages. When the browser encounters <code class="html">&lt;script&gt;</code>, it will load and run the code (similar to the way it loads stylesheets for <code class="html">&lt;link rel="stylesheet"&gt;</code> or images for <code class="html">&lt;img&gt;</code></p>

<p></p>

{% endblock %}
