{% extends "sectionbase.html" %}

{% block content %}

<p class="draft">What are events in HTML? What kind of things we can use to trigger JS behaviour. Good excuse for some more examples.</p>


<p id="event">An <dfn>event</dfn> in HTML is triggered by certain things that the user does, or that happens in the browser. For example, the &ldquo;click&rdquo; event occurs when the user clicks on the element. In the example above, you can click on the paragraph and it triggers execution of some JavaScript logic.</p>

<p>There are several other events on elements and we will use some of then as the course goes on. For example, there are events &ldquo;mouseover&rdquo; (when the mouse cursor moves over an element, on a desktop computer), &ldquo;load&rdquo; (when the page has finished loading), &ldquo;touchstart&rdquo; (the user starts touching an element, on a mobile device), and &ldquo;change&rdquo; (the user changes the entry in a form element). We will introduce more event types as they are needed.</p>

<p>The value for the event property (<code class="html">say_hello()</code> in the example) is a piece of JavaScript code. It will usually be short and used to call longer pieces of logic written elsewhere. In this example, it calls the <code class="js">say_hello</code> function defined in the JavaScript file.</p>

<section id="jquery">
<h2>jQuery Events</h2>

<p>In the previous section, we saw the jQuery style of attaching functions to events:</p>
 
{{ quoted_code('_sources/event1.js') }}

<p>We will continue to work with the jQuery style: it keeps the behaviour stuff isolated in the JavaScript file where it belongs, instead of mixing it in the HTML. (There are also <a href="http://stackoverflow.com/a/12627478">a few other reasons</a> it's better, but we won't discuss them here.)</p>
</section>


{% endblock %}
