{% extends "base.html" %}

{% block content %}


<section id="variables">
<h2>JavaScript Variables</h2>

<p class="draft">TODO: a variable has a name and holds a value. = assigns one.</p>

<p>In the previous example, we saw a function being defined like this:</p>

{{ quoted_code('_sources/varassign1.js') }}

<p>This is actually much more general than just defining a function. What's actually happening in code this this is that <em>some</em> value is being stored in a variable.</p>

<p id="var">A <dfn>variable</dfn> is a way to store a value in our program. In this example, the variable is named <code class="js">say_hello</code>. The <code class="js">=</code> is used to <dfn>assign</dfn> to the variable: it takes the value on the right and stores it in the variable named on the left.</p>

<p id="varassign">This line of code is a <dfn>variable assignment statement</dfn>. When a variable assignment statement runs, the value is stored in the computer's memory and the variable name can be used to refer back to that value later.</p>

<p>Just like with <code class="html">class</code> and <code class="html">id</code> values in HTML, variable names should be descriptive and indicate what they are holding.</p>

<p>In JavaScript, any type of value can be stored in any variable, and there are many types the language supports&hellip;</p>

</section>

<section id="types">
<h2>Types</h2>

<p id="type">Like other programming languages, JavaScript can store and manipulate different <dfn>types</dfn> of values.</p>


<dl>
<dt id="numbers">Numbers</dt>
<dd>
<p><dfn data-term="numbers">Numbers</dfn> can be stored and calculated on in probably the obvious ways:</p>
{{ quoted_code('_sources/types1.js') }}
<p>After this code, we have created a variable <code class="js">more</code> currently holding 8 (one more than <code class="js">count</code> had when <code class="js">more</code> was assigned), and <code class="js">twice_as_much</code> holding 14.</p>
<p>As you can see, numbers can be both integers and real numbers with decimal parts.</p>
</dd>

<dt id="strings">Strings</dt>
<dd>
<p>In JavaScript, <dfn>strings</dfn> are sequences of character. That is, they represent text. We have seena string used (but not stored in a variable) in our very first piece of JavaScript code:</p>
{{ quoted_code('files/first-code.js') }}
<p>The words in the single-quotes are a string containing twelve characters.</p>
<p>We can also store strings in variables:</p>
{{ quoted_code('_sources/types2.js') }}
<p>As you can see, strings can be wrapped in either single or double quotes. When the <code class="js">+</code> is applied to strings, the strings are joined together.</p>
<p>The last line above joins three strings: the contents of <code class="js">greeting</code>, a string containing a space, and the contents of <code class="js">name</code>, The result is that the variable <code class="js">personal_greeting</code> contains the string <code class="js">'Hello Becky B Barrington'</code>.</p>
</dd>

<dt>Functions</dt>
<dd><p>As we have seen (and will explore more later), functions can be stored in variables.</p></dd>

<dt id="objects">Objects</dt>
<dd>
<p>An <dfn>object</dfn> is a value in JavaScript that can contain other things: numbers, strings, functions, other objects, etc. We haven't seen any objects in JavaScript yet and won't be creating new types of objects in this course, but we will be using objects we get from other code.</p>
<p>We will explore using objects further as we encounter them.</p>
</dd>
</dl>

<p>The type of information you're dealing with obviously affects what you can do with it. For example, this code makes sense if <code class="js">a</code> and <code class="js">b</code> are both numbers: it will subtract the two values.</p>

{{ quoted_code('_sources/types3.js') }}

<p>If <code class="js">a</code> and <code class="js">b</code> contain strings, then this code will cause an error. Similarly, this code made sense because the built-in thing called <code class="js">alert</code> is a function, so we can call it.</p>

{{ quoted_code('files/first-code.js', ident="code-first-code-2") }}


</section>

<section id="functions">
<h2>JavaScript Functions</h2>

<p>Let's look again at the <code class="file">first-event.js</code> file:</p>

{{ quoted_code('files/first-event.js', ident='code-first-event2') }}

<p id="func">This code creates a variable named <code class="js">say_hello</code>. This variable holds a <dfn>function</dfn>. Functions are used to is used to contain some logic: it could be a particular calculation, code you want to execute as the result of an event, or any other sensible collection of logic.</p>

<p>Our function definitions will look like this (with a few more parts to be added later):</p>

{{ quoted_code('_sources/function_template.js') }}

<p>This creates a function called <code class="js">function_name</code>. When we <dfn id="call">call</dfn> that function (ask that it be executed), the logic in the <code class="js">{&hellip;}</code> will run line-by-line. [There is other syntax to define functions in JavaScript as well. We're going to ignore that.]</p>

<p>A function is called by using its name (or if you'd rather think of it this way: the name of the variable that is holding it), and parenthesis after it, like &ldquo;<code class="js">say_hello()</code>&rdquo;.</p>

<p>In the HTML file above, we used a function call like this as the value for the <code class="html">onclick</code> property of the paragraph. When you click the paragraph, your web browser runs this JavaScript code, thus calling the function and running the logic in it.</p>

<p>Inside the function <code class="js">say_hello</code>, we call another function <code class="js">alert</code>. This function requires an <dfn id="arg">argument</dfn> which gives it more information about what it is supposed to do. The argument is put in the parenthesis and is the string <code class="js">'Hello world!'</code> in our example.</p>

<p>Have a look at the <a href="{{rellink}}files/first-js.html">the example page with JavaScript</a> above. Click the paragraph: make sure you see what happens.</p>

</section>

<section id="summary">
<h2>Summary</h2>

<p>In the last few sections, we have seen many new concepts. This is sort of unavoidable: there are many pieces needed to make any program work. Here is a quick summary of what we have seen:</p>

<dl>
<dt id="summary-func">function</dt>
<dd>A <dfn>function</dfn> is a way to wrap up (and name) some behaviour in a program. We have used <code class="js">alert</code> and created a function <code class="js">say_hello</code>. Functions can be <dfn data-term="calling (a function)">called</dfn> by putting <code class="js">()</code> after their name, with <dfn>arguments</dfn> in the parenthesis if the function needs them.</dd>

<dt id="summary-event">event</dt>
<dd>An <dfn>event</dfn> is a way to refer to some specific things that happen in the web browser: the user clicks a particular element, the page finishes loading, the user types something in a form. We have seen (and will see more) ways to attach a function call to an event so we can make something happen as the result of the event.</dd>

<dt id="summary-variable">variable</dt>
<dd>A <dfn>variable</dfn> is a way to store some information in our program. and to give it a name so we can refer to it later.</dd>

<dt id="summary-type">types</dt>
<dd>Every value in JavaScript has a <dfn>type</dfn> (whether it's stored in a variable or just used as part of some calculation). The type determines what information it represents (number, string, function, &hellip;), and how we can use it (doing arithmetic on numbers, joining strings, calling functions, &hellip;).</dd>

</dl>

</section>



{% endblock %}
