{% extends "sectionbase.html" %}

{% block content %}
<p class="draft">The form tags, and how to use them to get user input and respond to that with jQuery.</p>

<p>Programs are boring if they just do the same thing every time. We need to respond to things the user does to make things interesting. So far, we have one way to do this: respond to user actions (clicking buttons, or moving the mouse) with jQuery.</p>

<p>That's good but limited: the user clicks on something or they don't. They move the cursor somewhere or they don't. We would like to get richer input from them.</p>

<section id="formtags">
<h2>HTML Forms</h2>

<p id="forms">We can have the user give us more detailed input using the <dfn>form tags</dfn> in HTML. We have already seen one of these <a href="{{ html_tag_ref_url('input') }}" id="button"><code class="js dfn">&lt;button&gt;</code></a>, where the text on the button is the contents of the element:</p>

{{ quoted_code('_sources/form0.html') }}

<p>That looks like this on the page:</p>

{{ figure('form0', 'Display of the button in a browser', referenced=False) }}

<p>We really only did one thing with the buttons: used <code class="js">.click()</code> to attach a function to the click event on it.</p>

<p id="control">We can get richer input with <a href="{{ html_tag_ref_url('input') }}"><code class="html dfn" id="input">&lt;input&gt;</code></a>. The <code class="html">&lt;input&gt;</code> element is empty (so it ends right away like <code class="html">&lt;input &hellip; /&gt;</code>) and inserts an interactive <dfn data-term="control, form">control</dfn> onto the page.</p>

<p>The <code class="html">type</code> attribute on <code class="html" id="input">&lt;input&gt;</code> indicates the kind of control to add to the page. Giving <code class="html dfn">type="text"</code> creates a one-line text input field. For example:</p>

{{ quoted_code('_sources/form1.html') }}

<p>In the browser, that looks like this:</p>

{{ figure('form1', 'Display of the form input in a browser', referenced=False) }}

<aside>In previous versions of HTML, all inputs had to be inside a <a href="{{ html_tag_ref_url('form') }}"><code class="html dfn" id="formtag">&lt;form&gt;</code></a> element. That is not true in HTML5 the way we're using inputs.</aside>

<p>There are other input types that you can use: radio buttons (select one of many options), checkboxes (check on or off), password input (like text, but characters aren't visible on-screen), and several more. For now, we will only use the text input and the &ldquo;button&rdquo; in the next section.</p>
</section>

<section id="jquery-forms">
<h2>jQuery and Forms</h2>

<p>Once we have some input from the user with a form, we can access it with JavaScript and jQuery. The easiest thing to do is find the <code class="html">&lt;input&gt;</code> with jQuery (probably selecting by <code class="html">id</code>) and using the jQuery object's <code class="js">.val()</code> method that will give you what the user typed.</p>

<p>In the example above, we had an input with <code class="html">id="something"</code> so we can get the string the use typed with <code class="js">$('#something').val()</code>.</p>

<p>Let's expand that into a more complete example. We can add a button input to the page so the user has something obvious to click to initiate an event:</p>

{{ quoted_code('files/form2.html', line_start=9, line_end=11, startswith='<p>Type') }}

<p>When the button is clicked, we will (in <code class="js">show_result</code>) get what they typed and report it by filling in the content of the <code class="html">&lt;p id="result"&gt;</code>.</p>

{{ quoted_code('files/handle-form.js') }}

<p>Here's what that looks like in the browser, after I typed something and clicked the button:</p>

{{ figure('form2', 'Form example after clicking', referenced=False) }}

<p>As before, <code class="js">$('#something')</code> gives us a jQuery object for the <code class="html">&lt;input &hellip; id="something" /&gt;</code>. The <code class="js">.val()</code> function in that object gives us the string <code class="js">'Okay I will.'</code> (in the example above). Once we have the string the user typed, we can use it any way we want.</p>

<p>If you'd like to try it yourself, have a look at <a href="{{rellink}}files/form2.html">the page itself</a>.</p>

<section id="another">
<h3>Another Example</h3>

<p>This time, let's use some form controls and {{raph}}: instead of using jQuery to add the text to the page, we'll add it to an SVG.</p>

<p>We will start with a container for the SVG, and the form controls:</p>

{{ quoted_code('files/form-raph.html', line_start=13, line_end=17, startswith='<div id="container">') }}

<p>We can then use jQuery <code class="js">.val()</code> to retrieve the text. The {{raph}} <code class="js">.text()</code> function will add it to an SVG. We can also treat it like a string: get its length and use that number to calculate the size of a bar chart-like box.</p>

{{ quoted_code('files/form-raph.js') }}

<p>Here, the variable <code class="js">y</code> ensures that each time the function <code class="js">add</code> runs, it draws the text and rectangle further down. The function adds two things: the text itself, and a rectangle with width proportionate to the length of the string. The page will look something like this after a few clicks:</p>

{{ figure('form-raph', 'Form + SVG after a four entries', referenced=False) }}

<p>You can <a href="{{rellink}}files/form-raph.html">try out the example</a> yourself too.</p>

</section>

</section>



<section id="controls">
<h2>Other Form Controls</h2>

<p>The <code class="js">&lt;input /&gt;</code> tag can be used to create other types of controls as well. With all of these, you can use <code class="js">.val()</code> to retrieve the value, in a way similar to a <code class="html">type="text"</code> input.</p>

<aside id="widgets">The things <code class="js">&lt;input /&gt;</code> puts on the page are often called controls or <dfn>widgets</dfn>.</aside>

<p>Using <code class="html dfn">type="password"</code> creates a control that works just like a text input, but where what the user types isn't visible on screen, so they can type a password or other information they wouldn't want visible to someone looking over their shoulder.</p>

{{ quoted_code('_sources/widgets.html', line_start=16, line_end=16, startswith='Password:') }}

<p>It will look something like this. (These screenshots were taken in Windows&nbsp;7: the way the widgets look varies between operating systems, but they work the same.)</p>

{{ figure('widgets1', 'A password input, with a few characters entered', referenced=False) }}

<p>Other than its on-screen appearance, it works exactly the same as <code class="html">type="text"</code>: looking at <code class="js">$('#pw').val()</code> will get the string the user typed.</p>



<p id="textarea">If you want to do text input where the user has space to enter more text, you can use the <code class="html dfn">&lt;textarea&gt;</code> tag. You can specify the number of rows and columns (lines and width), and initial text as the contents (or leave it empty for none):</p>

{{ quoted_code('_sources/widgets.html', line_start=39, line_end=41, startswith='Tell me more:') }}

<p>It will display like this:</p>

{{ figure('widgets3', 'A text area control', referenced=False) }}

<p>As with the <code class="html">&lt;input type="text"&gt;</code>, you can get the string the user typed with <code class="js">$('#t-area').val()</code>.</p>



<p id="select">If you have a list of options that you'd like the user to be able to choose, you can use the <code class="html dfn">&lt;select&gt;</code> and <code class="html dfn">&lt;option&gt;</code> tags. The <code class="html">&lt;select&gt;</code> must be used to enclose several <code class="html">&lt;option&gt;</code>s (like <code class="html">&lt;ul&gt;</code> contains <code class="html">&lt;li&gt;</code>s):</p>

{{ quoted_code('_sources/widgets.html', line_start=31, line_end=35, startswith='Choose one:') }}

<p>It will look like this on the page when the user clicks it to make a choice:</p>

{{ figure('widgets2', 'A select control, clicked to select', referenced=False) }}

<p>This time when you use <code class="js">$('#seldemo').val()</code>, you will get the value explicitly given in the <code class="html">&lt;option&gt;</code> tag. In this example, it will be either the string <code class="js">'a'</code> or <code class="js">'b'</code> or <code class="js">'c'</code>.</p>



<p>There are several other types for <code class="html">&lt;input&gt;</code>, and other tags that can be used to create form controls. Some of them work a little differently, and some aren't supported as well by browsers. We won't be using others in this course, and you can find all of the details in the <a href="{{ htmlref_url }}#Forms">HTML Reference</a>.</p>

</section>





{% endblock %}
