{% extends "appendixsectionbase.html" %}

{% block content %}

<p>For more details, see the <a href="{{ raphref_url }}">{{raph}} Reference</a> and a <a href="http://cancerbero.mbarreneche.com/raphaeltut/">{{raph}} Tutorial</a>.</p>

<!--
<section id="top">
<h2>Top-Level {{raph}} Functions</h2>

<table class="quickref">
  <thead>
  <tr><th scope="col">Function/Example</th><th scope="col">Description</th></tr>
  </thead>
  <tbody>
  <tr id="raphael">
    <th scope="row"><code class="js">p = Raphael('fig', 400,&nbsp;200)</code></th>
    <td>Create a 400&times;200 SVG image in the element with <code class="html">id="fig"</code>, and return a {{raph}} paper object.</td>
  </tr>
  </tbody>
</table>
</section>


<section id="paper">
<h2>Paper Objects</h2>

<table class="quickref">
  <thead>
  <tr><th scope="col">Function/Example</th><th scope="col">Description</th></tr>
  </thead>
  <tbody>
  <tr id="circle">
    <th scope="row"><code class="js">p.circle(50, 80, 15)</code></th>
    <td>Draw a circle centred at (50,80), with radius 15.</td>
  </tr>
  <tr id="line">
    <th scope="row"><code class="js">p.path('M10,20 L50,120 L80,40')</code></th>
    <td>Draw lines from (10,20) to (50,120) to (80,40).</td>
  </tr>
  <tr id="close-path">
    <th scope="row"><code class="js">p.path('M10,20 L50,120 L80,40 Z')</code></th>
    <td>Draw lines between the given points, and return to the start.</td>
  </tr>
  <tr id="smooth-curve">
    <th scope="row"><code class="js">p.path('M10,20 T50,120 T80,40')</code></th>
    <td>Draw a smooth curve from (10,20) to (50,120) to (80,40).</td>
  </tr>
  </tbody>
</table>
</section>
-->

{% endblock %}
