{% extends "base.html" %}
{% block pageclass %}appendix{% endblock %}

{% block content %}

<section id="instructions">
<h2>Installing Software</h2>

<p>We assume in this course that you are generally capable of using a computer, including installing software.</p>

<p>For Windows: &hellip;</p>

<p>For OSX: first download the software (usually as a <code class="file">.dmg</code> file, but also possibly a <code class="file">.zip</code> or other archive). Then double-click the downloaded file to mount the disk image or extract the archive. Finally, copy the application to your <code class="file">Applications</code> folder.</p>

<p>For Linux: It is probably easiest to install software with your distribution's package manager.</p>

</section>

<section id="browser">
<h2>Web Browsers</h2>


</section>

<section id="editor">
<h2>Text Editors</h2>

<p>All text editors do the same job: edit text files. You should find one that you can work with and does syntax highlighting that you like. Here are a few suggestions:</p>

<dl>
<dt><a href="http://notepad-plus-plus.org/">NotePad++</a></dt>
<dd>NotePad++ is a well-liked and free text editor for Windows. It's probably a good default choice for this course if you're using Windows.</dd>
<dt><a href="http://www.sublimetext.com/">Sublime Text</a></dt>
<dd>Many developers really like Sublime Text, and it works on Windows, OSX, and Linux. Not free, but you can download the trial version.</dd>
<dt><a href="http://brackets.io/">Brackets</a></dt>
<dd>A free editor for Windows, OSX, and Linux.</dd>
<dt><a href="http://macromates.com/download">TextMate</a></dt>
<dd>A free editor for OSX.</dd>
</dl>

</section>

<section id="scp">
<h2>Secure File Transfer</h2>

<dl>
<dt><a href="https://cyberduck.io/">CyberDuck</a></dt>
<dd>A nice free file transfer application for Windows and OSX.</dd>
<dt><a href="https://panic.com/transmit/">Transmit</a></dt>
<dd>Trial version only, for OSX</dd>

</dl>
</section>


{% endblock %}
