{% extends "base.html" %}

{% block content %}

<p class="draft">What HTTP is, URLs, how web pages are requested</p>

<p>As we said in the last topic, <dfn>HTTP</dfn> is the protocol that is used for the World Wide Web. Whenever your browser requests a page, it does it by contacting a web server and making the request with HTTP. The server then responds by sending the page, again with HTTP.</p>

<p>We aren't going to cover the details of an HTTP conversation, but some of the ideas are important for anyone creating web pages (or even using the web).</p>

<section id="urls">
<h2>URLs</h2>

</section>


{% endblock %}
