{% extends "base.html" %}

{% block content %}

<p>Now that we have seen how web pages get from the server to the browser, we should turn to how they are actually <em>made</em>. That is what we're going to be spending most of the course learning about.</p>

<p>Web pages are constructed using three main technologies, each of which plays a different role in the creation of the pages.</p>

<p>First is <dfn>HTML</dfn>, the <dfn>HyperText Markup Language</dfn>. HTML is used to describe the <em>content</em> of pages and its usually what people are talking about when they mention &ldquo;a web page&rdquo;. In HTML, we will express things like &ldquo;this is a paragraph&rdquo; or &ldquo;this is an important word&rdquo;. We aren't concerned in HTML how those things look. We will cover the basics of HTML further in the unit {{ xref('html') }}.</p>

<p>Since HTML describes only the content itself, we need some other tool to make it look a certain way: that is <dfn>CSS</dfn>, <dfn>Cascading Style Sheets</dfn>.  We can use CSS to suggest appearances for the pieces of content we have created in HTML. For example, we can express ideas like &ldquo;all paragraphs should have <em>this</em> font size&rdquo; with CSS. We will introduce CSS in the unit {{ xref('css') }}.</p>

<aside>The three components of web pages are described in <a href="http://www.w3.org/community/webed/wiki/The_web_standards_model_-_HTML_CSS_and_JavaScript">The Web Standards Model</a> and are part of the <a href="http://www.w3.org/wiki/Open_Web_Platform">Open Web Platform</a>.</aside>

<p>With HTML and CSS we can make simple web pages, but they don't <em>do</em> anything. In order to control the behaviour of our pages, we need a third technology: <dfn>JavaScript</dfn>. JavaScript is a programming language that is embedded in web browsers. It can be used to insert logic and behaviour into web pages. We will start working with it in the unit {{ xref('js') }}.</p>

<p>These three technologies form the basis of what we know as &ldquo;web pages&rdquo;, and the basis for this course.</p>


<h2 id="why-separate">Why separate Content, Appearance, and Behaviour?</h2>

<p>At this point, it might not be obvious why we need three different pieces of technology to create web pages. Hopefully, the distinct uses of these three things will become obvious as the course goes on. But for now, we can at least introduce the broad motivation.</p>

<p>Maybe the best reason for separating the three concepts is efficiency: with all of our appearance information in one CSS file, it only has to be loaded by the web browser once, even if the user views many pages on our site. Since there is less to be downloaded, the pages on our site will load faster. The same thing will happen with out JavaScript: it will be in a separate file, and can be downloaded once, even if it is used on every page on our site.</p>

<p>Similarly, when we are creating web sites, we can specify all of the content by itself in HTML. Then we can then worry about appearance and behaviour once in CSS and JavaScript: this information doesn't have to be included separately on each page (or even worse, we could have to specify the appearance of a paragraph on each and every paragraph on the site).</p>

<p>We will also end up with web sites that are easier to maintain. For example, if there is a problem with the appearance, you know to look in the CSS file. And if you fix the problem once, it should apply to your entire site since all of the pages will use the same stylesheet. On a larger project, you can have different people working on different aspects of the site: an author working with the HTML, a designer working on the CSS, and a programmer creating the JavaScript.</p>

<p>As we actually start working with these technologies, you will hopefully convince yourself that these things are true, and that there are other reasons to keep these concepts separate.</p>

{% endblock %}
