{% extends "base.html" %}

{% block content %}

<p class="draft">What HTTP is, URLs, how web pages are requested</p>

<p>As we said in the last topic, <dfn>HTTP</dfn> is the protocol that is used for the World Wide Web. Whenever your browser requests a page, it does it by contacting a web server and making the request with HTTP. The server then responds by sending the page, again with HTTP.</p>

<p>We aren't going to cover the details of an HTTP conversation, but some of the ideas are important for anyone creating web pages (or even using the web).</p>

<section id="urls">
<h2>URLs</h2>

<p>A <dfn>URL</dfn> (or <dfn>Uniform Resource Locator</dfn>, ) is used by a web browser (or other tool) to find (locate) a page or other content (a <dfn>resource</dfn>) on the web. You may also see these called a <dfn>URI</dfn> or <dfn>Uniform Resource Identifier</dfn> (which isn't quite synonymous, but close enough for us).</p>

<p>URLs look like &ldquo;<code class="url">http://www.w3.org/html/</code>&rdquo;. Here are the basic parts:</p>

{{ figure('url', 'Examples of how computers might be connected', extension='svg', referenced=False) }}

<p>The <dfn>scheme</dfn> indicates the protocol that will be used to fetch the resource (it is also called the URL <dfn>protocol</dfn>). This URL will be fetched using HTTP. </p>

<p>You will also see URLs that start with &ldquo;<code class="url">https://</code>&rdquo; indicating the <dfn>HTTPS</dfn> (<dfn>HTTP Secure</dfn>) protocol which works the same as HTTP, but all information is encrypted when being sent between the server and client. That ensure that none of the computers in between can read the messages going back-and-forth.</p>

<p>Next is the <dfn>server</dfn> (or <dfn>host name</dfn>). This is the name of the computer that the browser needs to contact to retrieve this information.</p>

<p>Finally, the <dfn>path</dfn> indicates which page on this server we're interested in.</p>

</section>


{% endblock %}
