{% extends "assignbase.html" %}
{% block pageclass %}{% endblock %}
{% block title %}Exercises and Assignments{% endblock %}
{% block h1 %}Exercises and Assignments{% endblock %}

{% block content %}

<h3>Smaller Exercises</h3>
<ul>
<li>Week 2: Create an <code class="file">.html</code> file from an example; upload it; find the URL and view it.</li>
<li>Week 3: Create an HTML page from scratch; choose tags for it semantically.</li>
<li>Week 4: Create a page with <code class="html">&lt;a&gt;</code>, <code class="html">&lt;img&gt;</code>, entities. Make sure it's valid. Validate some other page you're given.</li>
<li>Week 5: Create a <code class="file">.css</code> file from an example; attach it to an HTML page; guided exploration of a couple properties.</li>
<li>Week 6: Style a complete page with CSS (with HTML given?); create some colour codes from words; fix content/appearance separation problems in sample page.</li>
<li>Week 7: Do something simple with JS, probably guided by a template.</li>
<li>Week 8: Use jQuery to respond to a few events in a simple way</li>
<li>Week 9: Choose formats for sample images; something with graphics editing software. Simple JS conditionals?</li>
<li>Week 10: Manipulating pages with JS; iterating over page elements.</li>
<li>Week 11: Create SVG with {{raph}}; have an event handler modify the SVG.</li>
<li>Week 12: More events + SVG + JS logic.</li>
<li>Week 13: Use a CSS framework to make a responsive page.</li>
</ul>

<h3>Larger Assignments</h3>
<ul>
<li>Week 4: </li>
<li>Week 7: </li>
<li>Week 10: JS + jQuery to replicate a jQuery plugin (or two).</li>
<li>Week 13: jQuery + {{raph}} to make some kind of simple game.</li>
</ul>

<h3>Exams</h3>
<ul>
<li>Week 8: one hour midterm</li>
<li>Week &ge;14: cumulative final exam</li>
</ul>

{% endblock %}
