<!DOCTYPE html>
<html lang="en" class="{% block pageclass %}{% endblock %}">
<head>
  <meta charset="utf-8">
  <title>{% block title %}{{ pagetitle() }}{% endblock %}</title>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Code+Pro:400,700|Source+Sans+Pro:400,400italic,700,700italic" />
  <link rel="stylesheet" href="{{rellink}}assets/reset.css" />
  <link rel="stylesheet" href="{{rellink}}assets/shCore.css" />
  <link rel="stylesheet" href="{{rellink}}assets/shThemeDefault.css" />
  <link rel="stylesheet" href="{{rellink}}style.css" />
  <script src="{{rellink}}assets/shCore.js"></script>
  <script src="{{rellink}}assets/shBrushXml-custom.js"></script>
  <script src="{{rellink}}assets/shBrushCss.js"></script>
  <script src="{{rellink}}assets/shBrushJScript.js"></script>
  <script src="{{rellink}}assets/guide_setup.js"></script>
  <meta name="viewport" content="width=device-width, initial-scale=1" />
</head>
<body>
<header>
<h1>{% block h1 %}{{ pagetitle() }}{% endblock %}</h1>
</header>
<main id="main">
{% block content %}{% endblock %}
</main>
<footer>
<a href="{{ indexlink }}">Guide Home</a>
<div class="license">
<a rel="license" href="http://creativecommons.org/licenses/by-sa/4.0/"><img alt="CC by-SA" src="{{rellink}}assets/cc-by-sa.svg" /></a>
</div>
</footer>
</body>
</html>
